*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    display: flex;
    background-color: darkslategrey;
    height: 70px;
    width: 100%;
    justify-content : center;
    line-height: 70px;

}
.header img{
    height: 70px;
    width: 70px;
    margin-right: 10px;
}
.header h1{
    color: white;
}
.content{
    width: 100%;
    transition: 0.7s;
    float: right;

}
.banner{
    height:60vh;
    width:100%;
    background-image: url(img/laptop_keyboard_glow_181211_1280x720.jpg);
    background-position-y: -15vh;
    margin-bottom: 20px;
    background-attachment: fixed;
    transition: 0.7s;
}
.side{
    height: 100%;
    width: 20%;
    position: fixed;
    top: 70px;
    background-color: #353b48;
    left: -100%;
    transition: 0.7s;
    z-index: 99;
}
.side ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    color: white;
}
.side ul li {
    list-style: none;
    border-bottom: 2px solid rgba(225,225,225,.1);
  
}
a i{
    margin-right: 10px;
}
.side ul li a:hover{ 
    border-left:solid 10px white ;
}

i{
    
    color: white;
}
.social{
    justify-content: center;
    margin-top: 200px;
    border-bottom: 2px solid rgba(225,225,225,.1);
    font-size:30px ;
    display: flex;
    justify-content: space-evenly;
}
.sbtn, .hbtn{
    font-size: 30px;
    color: white;
    position : fixed;
    top:20px;
    left:40px;
}
.hbtn{
    opacity: 0;
}

#chk:checked ~ .side{
    left : 0;
} 

#chk:checked ~ .sbtn
{
    opacity: 0;
}
#chk:checked ~ .hbtn
{
    opacity: 1;
}

#chk:checked ~ .content
{
     width: 80%;
    
}
#chk:checked ~ .content .banner
{
     background-position-x: 10vw;
}

/* #chk{
    position: absolute;
    z-index: -10;
    visibility: hidden;
} */

@media screen and (max-width:768px)
{
    .side{
        width: 100%;
        text-align: center;
    }
    .header h1
    {
        display: none;
    }
    .social
    {
        margin-top: 120px;
    }
}