*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    display: flex;
    background-color: darkslategrey;
    height: 70px;
    width: 100%;
    justify-content : center;
    line-height: 70px;

}
.header img{
    height: 70px;
    width: 70px;
    margin-right: 10px;
}
.header h1{
    color: white;
}
.banner{
    height:50vh;
    width:100%;
    background-image: url(img/laptop_keyboard_glow_181211_1280x720.jpg);
    background-position-y: -30vh;
    margin-bottom: 20px;
    background-attachment: fixed;
}
.side{
    height: 100%;
    width: 20%;
    position: fixed;
    top: 70px;
    background-color: #353b48;
}
.side ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    color: white;
}
.side ul li {
    list-style: none;
    border-bottom: 2px solid rgba(225,225,225,.1);
  
}
a i{
    margin-right: 10px;
}