*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: darkslategrey;
    height: 70px;
    justify-content : center;
    line-height: 70px;

}
.header img{
    height: 70px;
    width: 70px;
    margin-right: 10px;
}
.header h1{
    color: white;
}
.banner{
    height:50vh;
    width:100%;
    background-image: url(img/laptop_keyboard_glow_181211_1280x720.jpg);
    background-position-y: -30vh;
    margin-bottom: 20px;
}